
html, body {
  height: 100%;
  scroll-behavior: smooth;
  

}

body {
  background-color: #fff;
  font-family: sans-serif;
  margin: 0;
  
}

.bg-img {
  background-image: url("assets/banner.png");
  
  min-height: 300px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: fill;
  position: relative;
}

  .NavGrid {
    display:grid;
    grid-template-columns: 50% 50%;
    text-align: center;
  }

  .topnav_title {
    text-align: center;
    color: #ffffff;
    font-size: 1.25rem;
    padding-left: 5px;
  }

  .bg-img2 {
    min-height: 200px;
    background-color: rgb(12,35,64);
    background-position: center;
    background-repeat: no-repeat;
    background-size: fill;
    position: relative;
  }


  
  .container {
    margin: 0px;
    width: auto;
  }

  
  
  .topnav {
    float:right;
    /*overflow:hidden;*/
    position:relative;
    
    border-radius: 25px;

  }

  .topnav a {
    float:right;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }
  
  .topnav img {
    max-width: 50px;
    padding-right: 20px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  

  .Container1 {

    padding-top: 10px;
    padding-bottom: 50px;
    width:100%;
    display:grid;
    /**grid-template-columns: 50% 50%;*/
    grid-template-columns: repeat(auto-fill, 50%);
    text-align: center;
  }

  .divider hr {
    border-radius: 25px;
    position: relative;
    border: none;
    height: 10px;
    background: rgb(12,35,64);
    margin-bottom: 10px;
  }

  .Container2 {
    padding-top: 50px;
    display:grid;
    /**grid-template-columns: 50% 50%;*/
    grid-template-columns: repeat(auto-fill, 40%);
    text-align: center;
  }

  .Section1{
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
    padding:10px;
    border-radius: 25px;
    
  }

  .Section1 img {
    max-width: 80%;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
    border-radius: 25px;
  }


  .Section2 {
    padding:10px;
    display: grid;
    /**grid-template-columns: 30% 30% 30%;*/
    grid-template-columns: repeat(auto-fill, 175px);
    grid-gap: 20px;

  }

  .Section2 a {
    text-decoration: none;
    background-color: none;
  }

  .Section3 {
    padding:10px;
  }

  .Section3 a {
    text-decoration: none;
    background-color: none;
  }



  .Section4 {
    padding:10px;
    display:grid;
    grid-template-columns: 100%;
    grid-gap:10px;
  }

  .Programming_Container {
    padding-top: 10px;
    padding-bottom: 100px;
    width:100%;
    text-align: center;
  }

  .SnapButton {
    color: white;
    background-color: rgb(12,35,64);
    text-align: center;
    text-decoration:solid;
    padding: 10px 10px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 8px 12px 0 rgba(232, 119, 34, 0.2);
    border-radius: 25px;
  }

  .SnapButton:hover{
    box-shadow: 0 8px 12px 0 rgba(232, 119, 34, 0.6);
  }

  .ReturnHome {
    color: white;
    background-color: rgb(12,35,64);
    text-align: center;
    text-decoration:solid;
    padding: 10px 10px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 8px 12px 0 rgba(232, 119, 34, 0.2);
    border-radius: 25px;
  }

  .ReturnHome:hover {
    box-shadow: 0 8px 12px 0 rgba(232, 119, 34, 0.6);
  }

  .Programming_Section_header {
    padding:10px;
    display:grid;
    grid-template-columns: 50% 50%;
    padding-left: 15%;
    text-align: end;
  }

  .Programming_Section_header img{
    padding-left: 25%;
  }

  .Nav_buttons {
    padding-top:50px;
    padding-left: 25px;
    padding-right: 25px;
  }

  #BWD {
    float:left;
  }

  #FWD {
    float:right;
  }

  .Nav_buttons a{
    text-decoration: none;
    color:#000;
    font-size: 60px;
  }

  .Nav_buttons a:hover{
    text-decoration: none;
    color:#000;
    font-size: 65px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    
  }





  .program {
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
    transition: 0.2s;
    padding: 15px;
  }

  .program:hover {
    box-shadow: 0 12px 30px 0 rgba(0,0,0,0.2);
    opacity:60%;
    background-color: #a4a4a4;
  }

  .program:active {
    box-shadow: 0 12px 30px 0 rgba(0,0,0,0.2);
    opacity:40%;
    background-color: #7c7b7b;
  }

  .program img{
    border-radius: 25px;
  }

  .program p {
    font-size: 16px;
    font-weight: bold;
    color:#000000;
  }

  .benefit {
    position: relative;
    box-shadow: 0 12px 30px 0 rgba(0,0,0,0.2);
    border-radius: 25px;
    text-align: center;
    padding:40px;
  }

  


  .footer {
    text-align: center;
    background-color: rgb(12,35,64);
    color: #ffffff;
    font-size: 32px;
    height: 150px;
  }













.ol_content {
  display: none;
  text-align: center;
  
  height:100%;
  width:100%;


  
  z-index: 1; 
  background-color: rgba(0,0,0, 0.9); 
  overflow-x: hidden; 
  transition: 1s; 


}

.ol_content > a {
  display: block;  
  margin-top: 5%;
  width:20%;
  margin-left: auto;
  margin-right: auto;
  
  font-size: 3rem;
  
  text-decoration: none;

  color:white;
  

  
}

.ol_content > a:hover {
  box-shadow: 0 12px 30px 0 rgb(255, 255, 255);
 }

 .overlay_content_2 {
  text-align: center;
 }



.menuOff {
  font-size: 50px;
  background-color: inherit;
  color:white;
  outline:none;
  box-shadow: none;
  float:right;
  border: none;
}

.menuOn {
  font-size: 50px;

  background-color: white;
  outline:none;
  box-shadow: none;
  text-decoration: none;
  border: none;
  border-radius: 25%;
  margin-left: 95vw;
  margin-top: 2px;
  margin-bottom: 2px;
  
}

.menuOn:hover {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
}





@media only screen and (max-width: 800px) {
  .Container1 {
    padding:20px;
    grid-template-columns: repeat(auto-fill, 90%);
  }
  .topnav_title {
    font-size: 1rem;
    
  }
  
}






/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  padding-top: 60px;
  text-align:center;
  
}

/* Modal Content/Box */
.modal-content {
  background-color: #000000;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
  height:20%;
  padding-top: 50px;
  color:white;

}

input[type=text] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #000;
  color:white;
}



/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}



/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

